# Maven
target/
*.class

# IDE files
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# Compiled files
*.jar
*.war
*.ear

# Logs
*.log

# Environment variables
.env

# OS specific files
.DS_Store
Thumbs.db